body {
    color: darkred;
    background-color: lightyellow;
}

/*a:link {*/
/*    font-style: italic;*/
/*}*/

/*!* visited link *!*/
/*a:visited {*/
/*    color: darkred;*/
/*    font-style: italic;*/
/*}*/

/* mouse over link */
a:hover {
    color: orangered;
}

/* selected link */
a:active {
    color: greenyellow;
}

.link {
    color: darkred;
    font-style: italic;
}

.broken_link {
    color: darkkhaki;
    pointer-events: none;
    cursor: default;
}